"*":
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    projectHome: "/Users/volmer/Projects"
    telemetryConsent: "no"
  editor:
    atomicSoftTabs: false
    fontSize: 15
    tabType: "soft"
  "exception-reporting":
    userId: "daa7e17c-076f-c9bb-d265-3ce50248bbb1"
  "linter-rubocop":
    command: "bundle exec rubocop"
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    locked: true
  "omni-ruler":
    columns: [
      "80"
      "120"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
